<div class="container">
    <h1>Sign up</h1>

    <div [hidden]="submitted">
        <form *ngIf="active" (ngSubmit)="onSubmit()" #heroForm="ngForm">
        {{diagnostic}}
            <div class="form-group">
                <label for="email">Email</label>
                <input  type="email" 
                        class="form-control" 
                        my-email-validator
                        required 
                        [(ngModel)]="model.email" 
                        ngControl="email" 
                        #emailLocal="ngForm"
                        #spy>
                <br/>
                {{spy.className}}
                <div [hidden]="emailLocal.value || emailLocal.pristine" class="alert alert-danger">
                    Email is required
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" required [(ngModel)]="model.password" ngControl="password">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" [(ngModel)]="model.name" ngControl="name">
            </div>
            <div class="form-group">
                <label for="howDidYouFindUs">How did you hear about us?</label>
                <select class="form-control" required ngControl="howDidYouFindUs">
                    <option *ngFor="#p of howDidYouFindUsOptions" [value]="p">{{p}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="register()">Register</button>
        </form>
    </div>
    <div [hidden]="!submitted">
        <h2>Submitted...</h2>
        <div class="row">
            <div class="col-xs-3">Email</div>
            <div class="col-xs-9 pull-left">{{model.name}}</div>            
        </div>
        <button class="btn btn-default" (click)="submitted=false">Edit</button>
    </div>

</div>
